/* **********************************************************
   ******************** DEFINICONES GENERALES ***************
   ******************************************************* */
    html,
    body {
      font-family: 'Open Sans', helvetica, calibri, arial;
      height: 100%;
      background-color: #e6ffe6 !important;
    }
    a {
      color: white;
    }
    a:hover {
      color: red !important;
    }
    ul li {
      list-style: none;
    }
    .contenedor--div {
      padding: 0px !important;
      margin: 0px;
    }

    .navbar.navbar-dark.bg-dark{
      width: 100%;
      position: fixed;      /*Fija menu en el pie*/
    }
    .navbar-dark .navbar-nav .active > .nav-link, 
    .navbar-dark .navbar-nav .nav-link.active, 
    .navbar-dark .navbar-nav .nav-link.show, 
    .navbar-dark .navbar-nav .show > .nav-link{
      color:orange;
    }

    a.navbar-brand {
      color: white !important;
    }
    .nav-link{
      color: orange;
    }

/* **********************************************************
   ************************* FOOTER  ************************
   ******************************************************* */
    footer{
      background-color: black;
      height: 130px;
      color:white;
      font-size: 1em;
      position: fixed;      /*Fija menu en el pie*/
      right: 0;
      bottom: 0;
      left: 0;
    }
    .row p{
      font-size: 1em;
    }
    footer h4 {
      font-size: 1em;
      color: orange;
    }

/* **********************************************************
   *************Estilos menu horizontal**********************
   ******************************************************* */

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #343a40;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: orange;
        text-align: left;
        padding left: 30px;
        padding-right: 30px;
        text-decoration: none;
    }

    li a:hover {
        color: red;
    }

/* menu vertical */
  div#Menu {
      border: 1px solid;
      float:left;
      width: 20%;
      height:110%;
      text-align: center;
      background-color: #ccffcc;
      display:table;                              /* convierte el bloque en una tabla para poder centrar el texo */
  }
  div#menucontainer{
      display:table-cell;vertical-align:middle;
  }
  div#Menu p{
      text-align:center;
  }

/* container */
  div#container {
      float:left;
      width: 80%;
      height:110%;
  }
  /* contenido1 */
    div#Contenido1 {
        float:left;
        width: 100%;
        height:100%;
        text-align: center;
        display:table;                      /* convierte el bloque en una tabla para poder centrar el texo */
    }
    div#contcontainer1{
        display:table-cell;vertical-align:middle;
    }
    div#Contenido1 p{
        text-align:center;
    }